
button {
    width: 100%;
    
}

.number-button .button button {
    background-color: white;
    color: black;
}

.operator-side {
.operator-column {
.operator-button {

    .button {

        button {
            background-color: red;
        }

    }

}
}
}