@import "global.less";
@import "button.less";

.calculator-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    .button-box {
        display: flex;
        .number-side {
            display: flex;
            flex-direction: column;
        .number-row {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        }
    }
    .operator-side {
    display: flex;
    flex-direction: column;
    }
}




